# gRPC Server
PORT=50051

# Authentication
JWT_SECRET=your_secret_key_here

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5435
DB_USER=user
DB_PASSWORD=pass
DB_NAME=gatekeeper_db

# Redis
REDIS_ADDR=localhost:6379

# Email Configuration (SMTP)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM=no-reply@gatekeeper.com
